<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextLeak</title>
    <link rel="stylesheet" href="{%  static "css/accounts.css" %}"/>
    <link rel="stylesheet" href="{% static "css/index.css" %}"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/datalegreya" type="text/css"/>
</head>
<body>
<h1>t|1e|2x|2t|1l|2e|3a|2k|3</h1>
<h2>Welcome to TextLeak Plagiarism Detector!</h2>
<p class="paragraph">
    TextLeak is a easy to use system to detect plagiarism between a piece of source documentation and a corpus,
    an internal corpus of documents, or plagiarism between a corpus and an external Wikipedia source. The external
    page will be determined through a process of topic evaluation through scanning the semantics of the documents
    in the corpus.
</p>

<h2>Please sign in to your user profile:</h2>
<div style="text-align: center;">
   <input type="button" class="login_button" name="login" onclick="location.href='http://localhost:8000/login/';" value="Log In">
    <input type="button" name="signup" onclick="location.href='http://localhost:8000/signup/';" value="Sign-up">
</div>
</body>
</html>
