<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Plagiarism</title>
    <link rel="stylesheet" href="{%  static "css/menu.css" %}"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/datalegreya" type="text/css"/>
</head>
<body>
<h1>s|1o|2u|2r|1c|2e|1 p|2l|3a|1g|2i|1a|3r|3i|2s|2m|1</h1>

<form method="post" action="upload-page.php" enctype="multipart/form-data">
  <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" />
</form>

</body>
</html>