#registered{
    font-family: DatalegreyaDot, fantasy;
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: 300%;
}

#button-column #button{
    margin-top: 5%;
    padding: 5%;
}

.jumbotron #paragraph{
    text-align: justify;
    font-size: 75%;
}

.jumbotron {
    padding: 5%;
}

.row #pic-container {
    border: groove #ffefef;
}

.row #plag_pic{
    position: center;
    width: 50%;
    height: 50%;
}

.row #pen {
    width: 40%;
    height: 50%;
}
