<h2 style="text-align: center">Longest Common Strings</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Suspect Filename</th>
        <th>Longest Common Substring</th>
        <th>Longest Common Sub-sequence</th>
    </thead>
    <tbody>
    {% for l in lcss %}
        <tr>
            <td>{{ l.0 }} </td>
            <td {% if l.1 >= 5 %} style="color: red"
            {% elif l.1 == 4 %} style="color: yellow"
            {% else %} style="color: #4CAF50"
            {% endif %}>{{ l.1 }}</td>
            <td {% if l.2 >= 100 %} style="color: red"
            {% elif l.2 < 100 and l.2 >= 50 %} style="color: yellow"
            {% else %} style="color: #4CAF50"
            {% endif %}>{{ l.2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>