{% extends 'html/base.html' %}
{% load bootstrap %}
{% load static %}
{% block add_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block logout %}
    <a href="{% url 'index' %}" class="button" type="button"
       style="vertical-align:middle; background-color: red; width: 7%;"><span>Home</span></a>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top:20px; text-align: center; font-size: large">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form" method="POST" enctype="multipart/form-data">
                    <hr class="colorgraph" style="margin-top: 0">
                    {{ form|bootstrap }}
                    <hr class="colorgraph">
                    {% csrf_token %}
                    <div style="text-align: center;">
                        <input type="submit" class="btn btn-lg btn-primary inline-block"
                               style="width: 30%; background: purple; border: purple;" value="Log in"/>
                        <a href="{% url 'signup' %}" class="btn btn-lg btn-primary inline-block"
                           style="width: 30%; background: purple; border: purple;" type="button"><span>Sign-up</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link rel="script" href="{% static 'js/login.js' %}">
{% endblock %}
{% block user_message %}
{% endblock %}