{% extends 'html/base.html' %}
{% load static %}
{% block add_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    {% if form.errors %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <p><strong>{{ error }}</strong></p>
            </div>
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <p><strong>{{ error }}</strong></p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form" method="POST" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <fieldset>
                        <h2 id="sign-in-message">Please fill in your details below:</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input name="first_name" id="first_name" class="form-control input-lg"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input name="last_name" id="last_name" class="form-control input-lg"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input name="username" id="username" class="form-control input-lg"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input name="email" id="email" class="form-control input-lg"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm_password" id="confirm_Password"
                                   class="form-control input-lg"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg"
                                   placeholder="Confirm Password">
                        </div>
                        <span class="button-checkbox">
				</span>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}
{% block user_message %}
    <h2 id="welcome">Hi, welcome to TextLeak!</h2>
{% endblock %}