{% extends 'html/base.html' %}
{% load static %}
{% block add_head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block logout %}
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="button" type="button"
           style="vertical-align:middle; background-color: lightseagreen; width: 7%;"><span>Logout</span></a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="jumbotron" style="margin: 20px; padding-top: 5px;">
        <h1 align="center" style="font-family: DatalegreyaDot, fantasy;font-size: 40px ; color: red">Please choose the
            type of plagiarism detection you require: </h1>
        <div align="center">
            <a href="{% url 'source_plagiarism' %}"><input type="button"
                                                           class="btn btn-default btn-rounded waves-effect waves-light"
                                                           value="Source Plagiarism"/></a>
            <a href="{% url 'internal_plagiarism' %}"><input type="button"
                                                             class="btn btn-default btn-rounded waves-effect waves-light"
                                                             value="Internal Plagiarism"/></a>
            <a href="{% url 'external_plagiarism' %}"><input type="button"
                                                             class="btn btn-default btn-rounded waves-effect waves-light"
                                                             value="External Plagiarism"/></a>
        </div>
    </div>
{% endblock %}